/*
 Color palette
*/

:root {
  --main-brand-color: #844A3F;
  --off-white: #FCFCFC;
  --black-olive: #3F3E3E;
  --black-bean-red: #330202;
}

body {
    font-family: Roboto, 'Lucida Grande', Tahoma, Sans-Serif;
}

h1, h2, h4 {
    font-family: 'Rammetto One', Georgia, Cambria, serif;
}

/*
  Generic
*/

.full-height-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 47, 75);
    color: white;
}

.full-height-section p {
    font-size: 2em;
    padding: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 80px);
}

.section-spacing {
    margin: 50px 0;
}

.icon-image-container {
    display: inline-block;
    padding: 10px 20px;
}

.icon-image-container p {
    font-size: 1.2em;
    padding: 0;
}

.icon-img {
    padding: 20px;
}

/*
 Customize bootstrap 4 navbar styles
*/

/* change the background color */
.navbar-custom {
    background-color: rgba(0,0,0,0);
    font-size: 1.5em;
    font-weight: bold;
}

/* change the brand and text color */
.navbar-custom .navbar-brand {
    padding: 10px;
    font-family: 'Rametto One';
    font-size: 1.5em;
    color: var(--off-white);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    padding: 15px;
    color: white;
}

/* change the color of active or hovered links and brand */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .navbar-brand:hover {
    color: var(--main-brand-color);
}

/*
  Home/Business Search
*/

.hero-wrapper {
    height: 110vh;
    background-image: linear-gradient(to bottom right, rgba(0, 47, 75, .5), rgba(100, 2, 2, .3)),
                      url(../../static/images/icklyHero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 47, 75);
    position: relative;
    z-index: 1;
}

.hero-wrapper::after {
  position:absolute;
  content: " ";
  display:block;
  left:0;
  bottom:0;
  width:100%;
  border-style: solid;
  border-width: 150px 0 0 100vw;
  border-color: transparent transparent transparent #fff;
}

.ickly-header {
    height: 70vh;
}

.intro-text {
    color: white;
}

.lead {
    color: var(--off-white);
}

/*
  Business Detail
*/

.business-detail {
    padding: 20px;
    color: var(--black-olive);
}

.business-detail p {
    margin-bottom: .2rem;
}

.business-name {
    font-weight: 600;
    color: var(--black-bean-red);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .ickly-header {
        height: 50vh;
    }

    .intro-text h1 {
        font-size: 2em;
    }

    .full-height-section p {
        font-size: 1.2em;
    }
}

