{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125990685-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125990685-2');
  </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ickly</title>

    <!-- favicon -->
    <link rel="icon" href="/static/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One|Roboto" rel="stylesheet">
  </head>
  <body>
    <div id='react-app'></div>
    {% render_bundle 'main' %}
  </body>
</html>
